.icon {
  display: inline-block;
  color: var(--text-primary);
}

.icon.size-small {
  font-size: 1.2rem;
}

.icon.size-medium {
  font-size: 1.6rem;
}

.icon.size-large {
  font-size: 2rem;
}

.icon.size-x-large {
  font-size: 6rem;
}
