:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}

:host([color='primary']) {
  background-color: var(--primary-main);
  color: var(--white);
}

:host([color='secondary']) {
  background-color: var(--secondary-main);
  color: var(--white);
}

:host([color='error']) {
  background-color: var(--error-main);
  color: var(--white);
}

:host([color='info']) {
  background-color: var(--info-main);
  color: var(--white);
}

:host([color='warning']) {
  background-color: var(--warning-main);
  color: var(--white);
}

:host([color='success']) {
  background-color: var(--success-main);
  color: var(--white);
}

:host([color='transparent']) {
  background-color: transparent;
  color: inherit;
}

:host([color='inherit']) {
  background-color: inherit;
  color: inherit;
}

:host([position='fixed']) {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: auto;
  right: 0;
}

:host([position='absolute']) {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: auto;
  right: 0;
}

:host([position='sticky']) {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: auto;
  right: 0;
}

:host([position='static']) {
  position: static;
}

:host([position='relative']) {
  position: relative;
}
