:host {
  --input-border-radius: var(--root-border-radius);
  --input-border-color: var(--neutral-main);
  --input-color: var(--text-primary);
}

:host {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--spacing-8);
  border-width: 1px;
  border-style: solid;
  transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: var(--input-border-color);
  color: var(--input-color);
}

:host([rounded='true']) {
  border-radius: var(--input-border-radius);
}

:host([fullwidth='true']) {
  width: 100%;
}

:host([error='true']) {
  border-color: var(--error-main);
}

:host([focus='true']) {
  border-color: var(--primary-main);
}

:host([size='small']) {
  padding: var(--spacing-6) var(--spacing-12);
  height: 32px;
}

:host([size='medium']) {
  padding: var(--spacing-8) var(--spacing-12);
  height: 40px;
}

:host([size='large']) {
  padding: var(--spacing-12) var(--spacing-12);
  height: 48px;
}

input {
  flex-grow: 1;
  outline: none;
  border: 0;
  background: none;
  width: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  font-family: var(--fontFamily);
  color: var(--input-color);
}
