:host {
  display: inline-flex;
  position: relative;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

:host .wrapper {
  position: relative;
}

:host .content {
  display: none;
  flex-flow: wrap;
  -webkit-box-pack: center;
  place-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
  color: var(--white);
  position: absolute;
  top: 0px;
  right: 0px;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

:host .content.has-content {
  display: flex;
}

:host([color='primary']) .content {
  background-color: var(--primary-main);
}

:host([color='error']) .content {
  background-color: var(--error-main);
}

:host([color='info']) .content {
  background-color: var(--info-main);
}

:host([color='warning']) .content {
  background-color: var(--warning-main);
}

:host([color='success']) .content {
  background-color: var(--success-main);
}

:host([size='small']) .content {
  width: 8px;
  height: 8px;
  transform-origin: 100% 0%;
  transform: scale(1) translate(50%, 0);
  border-radius: 6px;
}

:host([size='medium']) .content {
  transform-origin: 100% 0%;
  transform: scale(1) translate(50%, -50%);
  height: 20px;
  line-height: 1;
  padding: 0px 6px;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 10px;
}
