:host {
  --button-border-radius: var(--root-border-radius);
}

:host {
  outline: none;
  border: none;
  flex-wrap: nowrap;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-4);
  font-weight: 400;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

:host([rounded='true']) {
  border-radius: var(--button-border-radius);
}

:host([disabled='true']) {
  pointer-events: none;
  opacity: var(--disabled-opacity);
}

:host([size='small']) {
  padding: var(--spacing-6) var(--spacing-8);
  height: 32px;
}

:host([size='medium']) {
  padding: var(--spacing-8) var(--spacing-16);
  height: 40px;
}

:host([size='large']) {
  padding: var(--spacing-12) var(--spacing-28);
  height: 48px;
}

:host([variant='text']) {
  color: var(--text-primary);
}

:host([color='primary']):host([variant='text']):host(:hover) {
  background-color: var(--primary-light);
  color: var(--white);
}

:host([variant='filled']) {
  color: var(--white);
}

:host([variant='outlined']) {
  border-width: 1px;
  border-style: solid;
}

:host([color='primary']):host([variant='filled']) {
  background-color: var(--primary-main);
}

:host([color='primary']):host([variant='filled']):host(:hover) {
  background-color: var(--primary-dark);
}

:host([color='secondary']):host([variant='filled']) {
  background-color: var(--secondary-main);
}

:host([color='secondary']):host([variant='filled']):host(:hover) {
  background-color: var(--secondary-dark);
}

:host([color='error']):host([variant='filled']) {
  background-color: var(--error-main);
}

:host([color='error']):host([variant='filled']):host(:hover) {
  background-color: var(--error-dark);
}

:host([color='warning']):host([variant='filled']) {
  background-color: var(--warning-main);
}

:host([color='warning']):host([variant='filled']):host(:hover) {
  background-color: var(--warning-dark);
}

:host([color='info']):host([variant='filled']) {
  background-color: var(--info-main);
}

:host([color='info']):host([variant='filled']):host(:hover) {
  background-color: var(--info-dark);
}

:host([color='success']):host([variant='filled']) {
  background-color: var(--success-main);
}

:host([color='success']):host([variant='filled']):host(:hover) {
  background-color: var(--success-dark);
}

:host([color='ghost']):host([variant='filled']) {
  background-color: transparent;
  color: var(--secondary-main);
}

:host([color='ghost']):host([variant='filled']):host(:hover) {
  text-decoration: underline;
}

:host([color='primary']):host([variant='outlined']) {
  color: var(--primary-main);
  border-color: var(--primary-main);
}

:host([color='primary']):host([variant='outlined']):host(:hover) {
  background-color: var(--primary-light);
  border-color: var(--primary-main);
  color: var(--white);
}

:host([color='secondary']):host([variant='outlined']) {
  color: var(--secondary-main);
  border-color: var(--secondary-main);
}

:host([color='secondary']):host([variant='outlined']):host(:hover) {
  background-color: var(--secondary-dark);
}

:host([color='error']):host([variant='outlined']) {
  color: var(--error-main);
  border-color: var(--error-main);
}

:host([color='error']):host([variant='outlined']):host(:hover) {
  background-color: var(--error-dark);
}

:host([color='warning']):host([variant='outlined']) {
  color: var(--warning-main);
  border-color: var(--warning-main);
}

:host([color='warning']):host([variant='outlined']):host(:hover) {
  background-color: var(--warning-dark);
}

:host([color='info']):host([variant='outlined']) {
  color: var(--info-main);
  border-color: var(--info-main);
}

:host([color='info']):host([variant='outlined']):host(:hover) {
  background-color: var(--info-dark);
}

:host([color='success']):host([variant='outlined']) {
  color: var(--success-main);
  border-color: var(--success-main);
}

:host([color='success']):host([variant='outlined']):host(:hover) {
  background-color: var(--success-dark);
}

:host([fullwidth='true']) {
  width: 100%;
}

:host([disabled='true']):host([variant='filled']) {
  background: var(--disabled);
}

:host([disabled='true']) {
  cursor: default;
}

:host([disabled]):host(:hover) {
  background: var(--disabled);
}

:host([loading='true']) {
  pointer-events: none !important;
  cursor: default;
}
