:host {
  padding: var(--spacing-8) var(--spacing-16);
  display: block;
  cursor: pointer;
  pointer-events: all;
  text-align: left;
}

:host(:hover) {
  background-color: rgba(0, 0, 0, 0.04);
}

:host([disabled='true']) {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.04);
  opacity: var(--disabled-opacity);
}
