:host {
  --paper-border-radius: var(--root-border-radius);
  --paper-padding: var(--root-padding);
}

:host {
  display: block;
  background-color: var(--background-paper);
  padding: var(--paper-padding);
}

:host([rounded='true']) {
  border-radius: var(--paper-border-radius);
}
