:host {
  --textarea-border-radius: var(--root-border-radius);
  --textarea-border-color: var(--neutral-main);
  --textarea-color: var(--text-primary);
}

:host {
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--spacing-8);
  border-width: 1px;
  border-style: solid;
  padding: var(--spacing-12) var(--spacing-12);
  transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: var(--textarea-border-color);
}

:host([fullwidth]) {
  width: 100%;
}

:host([error]) {
  border-color: var(--error-main);
}

:host([focus]) {
  border-color: var(--primary-main);
}

:host([rounded]) {
  border-radius: var(--textarea-border-radius);
}

textarea {
  color: var(--textarea-color);
  flex-grow: 1;
  outline: none;
  border: 0;
  background: none;
  resize: none;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  font-family: var(--fontFamily);
}
