:host {
  box-sizing: border-box;
  display: flex;
  min-width: 0px;
  align-items: var(--align-items);
  align-content: var(--align-content);
  justify-items: var(--justify-items);
  justify-content: var(--justify-content);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
  gap: var(--row-spacing) var(--column-spacing);
}

:host([fullheight]) {
  height: 100%;
}
