:host {
  display: inline-block;
  contain: layout;
  --switch-lever--background: rgb(230, 230, 230);
  --switch-lever_checked--background: var(--primary-main);
  --switch-lever--handle-background: rgb(193, 191, 191);
  --switch-lever_checked--handle-background: var(--primary-light);
  --switch--on-text-color: rgb(158, 158, 158);
  --switch--off-text-color: rgb(205, 92, 92);
  --switch_checked--on-text-color: rgb(112, 179, 173);
  --switch_checked--off-text-color: rgb(158, 158, 158);
  --switch_focus--background: rgb(255 255 255);
  --switch_focus--outline-color: rgb(100, 149, 237);
  --switch_disabled--off-text-color: rgb(158, 158, 158);
  --switch_disabled--on-text-color: rgb(158, 158, 158);
}

:host([hidden]) {
  display: none;
}

:host([disabled]) {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

:host(:focus) {
  outline: none;
}

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/**focus state**/
.switch [type='checkbox']:not(:hover):not(:active):focus ~ .switch__lever {
}

/**switch lever**/
.switch__lever {
  position: relative;
  display: flex;
  align-items: center;
  width: 3.75em; /*60px*/
  height: 1.25em; /*20px*/
  margin: 0 0.625em; /*0 10px*/
  border-radius: 1.25em;
  vertical-align: middle;
  --lever-position: 0%;
  --dirLTR: 1;
  background: var(--switch-lever--background, rgb(230 230 230));
  transition: background 0.1s;
}

.switch__lever::before {
  content: '';
  width: 1.875em; /*30px*/
  height: 1.875em; /*30px*/
  border-radius: 50%;
  background: var(--switch-lever--handle-background, rgb(247, 245, 245));
  transform-origin: var(--transform-origin);
  transform: translateX(calc(var(--lever-position) * var(--dirLTR)))
    scaleX(var(--scale-factor, 1));
  transition: transform 0.1s ease;
}

:host([dir='rtl']) .switch .switch__lever {
  --dirLTR: -1;
}

/*
  https://developer.mozilla.org/en-US/docs/Web/CSS/:host-context()
  */
:host-context([dir='rtl']):host(:not([dir])) .switch .switch__lever {
  --dirLTR: -1;
}

/*
    For Browsers That Support dir() pseudo-class. As of 04.2021 only Firefox 49 has full support.
    https://developer.mozilla.org/en-US/docs/Web/CSS/:dir
  */
:host(:dir(rtl)) .switch__lever {
  --dirLTR: -1;
}

.switch__lever:active::before {
}

[type='checkbox']:checked ~ .switch__lever {
  background: var(--switch-lever_checked--background, rgb(125, 200, 193));
  --lever-position: 111%;
}

[type='checkbox']:checked ~ .switch__lever:before {
  background: var(
    --switch-lever_checked--handle-background,
    rgb(112, 179, 173)
  );
}

/**switch on-text**/
.switch__on-text {
  color: var(--switch--on-text-color, rgb(158, 158, 158));
}

[type='checkbox']:checked ~ .switch__on-text {
  color: var(--switch_checked--on-text-color, rgb(112, 179, 173));
}

:host([disabled]) .switch__off-text {
  color: var(--switch_disabled--on-text-color, rgb(158, 158, 158));
}

/**switch off-text**/
.switch__off-text {
  color: var(--switch--off-text-color, rgb(205, 92, 92));
}

[type='checkbox']:checked ~ .switch__off-text {
  color: var(--switch_checked--off-text-color, rgb(158, 158, 158));
}

:host([disabled]) .switch__off-text {
  color: var(--switch_disabled--off-text-color, rgb(158, 158, 158));
}

/*START Elastic switch*/
.switch--elastic .switch__lever {
  --transform-origin: 0% 50%;
}

:host([dir='rtl']) .switch--elastic .switch__lever {
  --transform-origin: 100% 50%;
}

:host-context([dir='rtl']):host(:not([dir])) .switch--elastic .switch__lever {
  --transform-origin: 100% 50%;
}

/*
    For Browsers That Support dir() pseudo-class. As of 04.2021 only Firefox 49 has full support.
    https://developer.mozilla.org/en-US/docs/Web/CSS/:dir
  */
:host(:dir(rtl)) .switch--elastic .switch__lever {
  --transform-origin: 100% 50%;
}

.switch--elastic [type='checkbox']:checked ~ .switch__lever {
  transition-delay: 0.1s; /*for smoother background animation*/
  --transform-origin: 100% 50%;
}

:host([dir='rtl']) .switch--elastic [type='checkbox']:checked ~ .switch__lever {
  --transform-origin: 0% 50%;
}

:host-context([dir='rtl']):host(:not([dir]))
  .switch--elastic
  [type='checkbox']:checked
  ~ .switch__lever {
  --transform-origin: 0% 50%;
}

/*
    For Browsers That Support dir() pseudo-class. As of 04.2021 only Firefox 49 has full support.
    https://developer.mozilla.org/en-US/docs/Web/CSS/:dir
  */
:host(:dir(rtl)) .switch--elastic [type='checkbox']:checked ~ .switch__lever {
  --transform-origin: 0% 50%;
}

.switch--elastic:active .switch__lever::before,
.switch--elastic .switch__lever.is-active::before {
  --scale-factor: 1.2;
}

.switch--elastic .switch__lever::before {
  position: absolute;
  transition: transform 0.3s;
}
/*END Elastic switch*/

.off-screen {
  /*another name for this class could be visually-hidden*/
  position: fixed; /*we can set it as fixed, that will prevent jumping when it's clicked/targeted (but it will screw up focusing on the element)*/
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0); /*deprecated, only for IE9-11*/
  white-space: nowrap; /*For long content, line feeds are not interpreted as spaces and small width causes content to wrap 1 word per line: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe*/
}
