:host {
  padding: 0;
  margin: 0;
  color: var(--text-primary);
}

:host([variant='headline1']) {
  font-size: 6rem;
  font-weight: var(--weight-medium);
  line-height: 1.167;
}

:host([variant='headline2']) {
  font-size: 3.75rem;
  font-weight: var(--weight-medium);
  line-height: 1.2;
}

:host([variant='headline3']) {
  font-size: 3rem;
  font-weight: var(--weight-medium);
  line-height: 1.167;
}

:host([variant='headline4']) {
  font-size: 2.125rem;
  font-weight: var(--weight-medium);
  line-height: 1.235;
}

:host([variant='headline5']) {
  font-size: 1.5rem;
  font-weight: var(--weight-medium);
  line-height: 1.334;
  letter-spacing: 0;
}

:host([variant='headline6']) {
  font-size: 1.25rem;
  font-weight: var(--weight-medium);
  line-height: 1.6;
}

:host([variant='subtitle1']) {
  font-size: 1rem;
  font-weight: var(--weight-regular);
  line-height: 1.75;
}

:host([variant='subtitle2']) {
  font-size: 0.875rem;
  font-weight: var(--weight-regular);
  line-height: 1.57;
}

:host([variant='body1']) {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: var(--weight-thin);
}

:host([variant='body2']) {
  font-size: 0.857142857rem;
  line-height: 1.43;
  font-weight: var(--weight-thin);
}

:host([variant='button']) {
  font-size: 0.875rem;
  line-height: 1.75;
}

:host([variant='caption']) {
  font-size: 0.75rem;
  line-height: 1.66;
  font-weight: var(--weight-thin);
}

:host([variant='overline']) {
  font-size: 0.75rem;
  line-height: 2.66;
  text-transform: uppercase;
  font-weight: 300;
}

:host([aria-level]),
:host([variant='body1']),
:host([variant='body2']) {
  display: block;
}

:host([textalign='left']) {
  text-align: left;
}

:host([textalign='right']) {
  text-align: right;
}

:host([textalign='center']) {
  text-align: center;
}

:host([textalign='justify']) {
  text-align: justify;
}

:host([fontweight='thin']) {
  font-weight: var(--weight-thin);
}

:host([fontweight='regular']) {
  font-weight: var(--weight-regular);
}

:host([fontweight='medium']) {
  font-weight: var(--weight-medium);
}

:host([fontweight='semi-bold']) {
  font-weight: var(--weight-semi-bold);
}

:host([fontweight='bold']) {
  font-weight: var(--weight-bold);
}

:host([fontweight='extra-bold']) {
  font-weight: var(--weight-extra-bold);
}

:host([whitespace='nowrap']) {
  white-space: nowrap;
}

:host([whitespace='normal']) {
  white-space: normal;
}

:host([whitespace='pre-line']) {
  white-space: pre-line;
}

:host([whitespace='pre-wrap']) {
  white-space: pre-wrap;
}

:host([truncate]) {
  -webkit-line-clamp: var(--typography-truncate);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
