:host([variant='headline1']) {
  font-size: 6em;
  font-weight: var(--weight-medium);
  line-height: 7em;
}

:host([variant='headline2']) {
  font-size: 3.75em;
  font-weight: var(--weight-medium);
  line-height: 1.2;
}

:host([variant='headline3']) {
  font-size: 3em;
  font-weight: var(--weight-medium);
  line-height: 1.2;
}

:host([variant='headline4']) {
  font-size: 2.125em;
  font-weight: var(--weight-medium);
  line-height: 1.3;
}

:host([variant='headline5']) {
  font-size: 1.5em;
  font-weight: var(--weight-medium);
  line-height: 1.4;
}

:host([variant='headline6']) {
  font-size: 1.25em;
  font-weight: var(--weight-medium);
  line-height: 1.6;
}

:host([variant='subtitle1']) {
  font-size: 1em;
  font-weight: var(--weight-regular);
  line-height: 1.75;
}

:host([variant='subtitle2']) {
  font-size: 0.875em;
  font-weight: var(--weight-regular);
  line-height: 1.5;
}

:host([variant='body1']) {
  font-size: 1em;
  line-height: 1.5;
  font-weight: var(--weight-thin);
}

:host([variant='body2']) {
  font-size: 0.875em;
  line-height: 1.5;
  font-weight: var(--weight-thin);
}

:host([variant='button']) {
  font-size: 0.875em;
  line-height: 1.5;
}

:host([variant='caption']) {
  font-size: 0.75em;
  line-height: 1.66;
  font-weight: var(--weight-thin);
}

:host([variant='overline']) {
  font-size: 0.75em;
  line-height: 2;
  text-transform: uppercase;
  font-weight: 300;
}

:host([aria-level]),
:host([variant='body1']),
:host([variant='body2']) {
  display: block;
}

:host([textalign='left']) {
  text-align: left;
}

:host([textalign='right']) {
  text-align: right;
}

:host([textalign='center']) {
  text-align: center;
}

:host([textalign='justify']) {
  text-align: justify;
}

:host([fontweight='thin']) {
  font-weight: var(--weight-thin);
}

:host([fontweight='regular']) {
  font-weight: var(--weight-regular);
}

:host([fontweight='medium']) {
  font-weight: var(--weight-medium);
}

:host([fontweight='semi-bold']) {
  font-weight: var(--weight-semi-bold);
}

:host([fontweight='bold']) {
  font-weight: var(--weight-bold);
}

:host([fontweight='extra-bold']) {
  font-weight: var(--weight-extra-bold);
}

:host([whitespace='nowrap']) {
  white-space: nowrap;
}

:host([whitespace='normal']) {
  white-space: normal;
}

:host([whitespace='pre-line']) {
  white-space: pre-line;
}

:host([whitespace='pre-wrap']) {
  white-space: pre-wrap;
}

:host([truncate]) {
  -webkit-line-clamp: var(--typography-truncate);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
