:host {
  --select-border-radius: var(--root-border-radius);
  --select-border-color: var(--neutral-main);
}

:host {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--spacing-8);
  border-width: 1px;
  border-style: solid;
  transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: var(--select-border-color);
  min-width: 200px;
  color: var(--text-primary);
}

:host([fullwidth='true']) {
  width: 100%;
}

:host([error='true']) {
  border-color: var(--error-main);
}

:host([focus]) {
  border-color: var(--primary-main);
}

:host([rounded='true']) {
  border-radius: var(--select-border-radius);
}

:host([size='small']) {
  padding: var(--spacing-6) var(--spacing-12);
  height: 32px;
}

:host([size='medium']) {
  padding: var(--spacing-8) var(--spacing-16);
  height: 40px;
}

:host([size='large']) {
  padding: var(--spacing-12) var(--spacing-28);
  height: 48px;
}

#contentWrapper {
  flex-grow: 1;
  overflow: hidden;
}

#content {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
