:host {
  --select-border-radius: var(--spacing-16);
  --select-border-color: var(--neutral-main);
}

:host {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--spacing-8);
  border-width: 1px;
  border-style: solid;
  padding: var(--spacing-12) var(--spacing-12);
  box-sizing: border-box;
  transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: var(--select-border-color);
  min-width: 250px;
  height: 40px;
  color: var(--text-primary);
}

:host([fullWidth]) {
  width: 100%;
}

:host([error]) {
  border-color: var(--error-main);
}

:host([focus]) {
  border-color: var(--primary-main);
}

:host([rounded]) {
  border-radius: var(--select-border-radius);
}

#contentWrapper {
  flex-grow: 1;
  overflow: hidden;
}

#content {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

#backdrop {
  position: fixed;
  inset: 0;
  background-color: transparent;
  display: none;
  pointer-events: all;
}

:host([rounded]) #optionWrapper {
  border-radius: var(--select-border-radius);
}

#optionWrapper {
  padding: var(--spacing-8) 0;
  box-sizing: border-box;
  background-color: var(--background-paper);
  display: block;
  max-height: 250px;
  overflow-x: hidden;
  margin-top: 4px;
  box-shadow: 1px 1px rgba(125, 125, 125, 0.1),
    0 1px 1px 1px rgba(125, 125, 125, 0.1);
}
