:host {
  padding: var(--spacing-8) var(--spacing-16);
  display: block;
  cursor: pointer;
  pointer-events: all;
  color: var(--text-primary);
}

:host(:hover) {
  background-color: var(--neutral-main);
}

:host([selected='true']) {
  background-color: var(--neutral-main);
}
