:host {
  --card-border-radius: var(--spacing-16);
}

:host {
  display: inline-block;
  background-color: var(--background-paper);
  box-sizing: border-box;
  overflow: hidden;
}

:host([rounded]) {
  border-radius: var(--card-border-radius);
}

:host([fullWidth]) {
  width: 100%;
}
