:host {
  --card-border-radius: var(--root-border-radius);
  --card-background-color: var(--background-paper);
}

:host {
  display: inline-block;
  background-color: var(--card-background-color);
  overflow: hidden;
}

:host([rounded]) {
  border-radius: var(--card-border-radius);
}

:host([fullWidth]) {
  width: 100%;
}
