:host {
  box-sizing: border-box;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  color: inherit;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

:host([size='2xlarge']) {
  font-size: 2em;
  line-height: 0.03125em;
}

:host([size='xlarge']) {
  font-size: 1.5em;
  line-height: 0.0416666682em;
}

:host([size='large']) {
  font-size: 1.25em;
  line-height: 0.05em;
}

:host([size='medium']) {
  font-size: 1em;
  line-height: 0.0614285718em;
}

:host([size='small']) {
  font-size: 0.875em;
  line-height: 0.0714285718em;
}

:host([size='xsmall']) {
  font-size: 0.75em;
  line-height: 0.0833333337em;
}

:host([color='primary']) {
  color: var(--error-primary);
}

:host([color='secondary']) {
  color: var(--error-secondary);
}

:host([color='error']) {
  color: var(--error-main);
}

:host([color='info']) {
  color: var(--info-main);
}

:host([color='success']) {
  color: var(--success-main);
}

:host([color='warning']) {
  color: var(--warning-main);
}
