:host {
  --alert-border-radius: var(--root-border-radius);
  --alert-padding: var(--root-padding);
}

:host {
  padding: var(--alert-padding);
  border-radius: var(--alert-border-radius);
  width: fit-content;
  display: grid;
  align-items: baseline;
  grid-template-columns: auto 1fr auto;
  column-gap: var(--spacing-12);
  grid-template-areas: 'icon content action';
}

:host[class*='variant-outlined'] {
  border-width: 1px;
  border-style: solid;
}

:host([variant='standard'][severity='error']) {
  background-color: var(--error-light);
  color: var(--error-main);
}

:host([variant='standard'][severity='info']) {
  background-color: var(--info-light);
  color: var(--info-main);
}

:host([variant='standard'][severity='success']) {
  background-color: var(--success-light);
  color: var(--success-main);
}

:host([variant='standard'][severity='warning']) {
  background-color: var(--warning-light);
  color: var(--warning-main);
}

:host([variant='outlined'][severity='error']) {
  background-color: var(--white);
  color: var(--error-main);
}

:host([variant='outlined'][severity='info']) {
  background-color: var(--white);
  color: var(--info-main);
}

:host([variant='outlined'][severity='success']) {
  background-color: var(--white);
  color: var(--success-main);
}

:host([variant='outlined'][severity='warning']) {
  background-color: var(--white);
  color: var(--warning-main);
}

:host([variant='filled'][severity='error']) {
  color: var(--white);
  background-color: var(--error-main);
}

:host([variant='filled'][severity='info']) {
  color: var(--white);
  background-color: var(--info-main);
}

:host([variant='filled'][severity='success']) {
  color: var(--white);
  background-color: var(--success-main);
}

:host([variant='filled'][severity='warning']) {
  color: var(--white);
  background-color: var(--warning-main);
}
