.alert {
  padding: var(--spacing-16);
  width: fit-content;
  box-sizing: border-box;
  border-radius: var(--spacing-8);
}

.alert-layout-main {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: var(--spacing-12);
  grid-template-areas:
    'icon title'
    '. descripton';
}

.alert-layout-icon {
  grid-area: icon;
}

.alert-layout-title {
  grid-area: title;
}

.alert-layout-description {
  grid-area: descripton;
}

.alert[class*='variant-outlined'] {
  border-width: 1px;
  border-style: solid;
}

.alert-is-variant-default.alert-is-severity-error {
  background-color: var(--error-light);
  color: var(--error-main);
}

.alert-is-variant-default.alert-is-severity-info {
  background-color: var(--info-light);
  color: var(--info-main);
}

.alert-is-variant-default.alert-is-severity-success {
  background-color: var(--success-light);
  color: var(--success-main);
}

.alert-is-variant-default.alert-is-severity-warning {
  background-color: var(--warning-light);
  color: var(--warning-main);
}

.alert-is-variant-outlined.alert-is-severity-error {
  background-color: var(--white);
  color: var(--error-main);
}

.alert-is-variant-outlined.alert-is-severity-info {
  background-color: var(--white);
  color: var(--info-main);
}

.alert-is-variant-outlined.alert-is-severity-success {
  background-color: var(--white);
  color: var(--success-main);
}

.alert-is-variant-outlined.alert-is-severity-warning {
  background-color: var(--white);
  color: var(--warning-main);
}

.alert-is-variant-filled.alert-is-severity-error {
  color: var(--white);
  background-color: var(--error-main);
}

.alert-is-variant-filled.alert-is-severity-info {
  color: var(--white);
  background-color: var(--info-main);
}

.alert-is-variant-filled.alert-is-severity-success {
  color: var(--white);
  background-color: var(--success-main);
}

.alert-is-variant-filled.alert-is-severity-warning {
  color: var(--white);
  background-color: var(--warning-main);
}
