:host {
  --modal-border-radius: var(--spacing-16);
  --modal-background-color: var(--background-main);
  --modal-padding: var(--spacing-24);
  --modal-backdrop-background-color: var(--backdrop-main);
}

dialog {
  display: none;
  border: none;
  outline: none;
  min-width: 500px;
  max-width: 600px;
  box-sizing: border-box;
  padding: var(--modal-padding);
  background-color: var(--modal-background-color);
  overflow: hidden;
}

dialog[open] {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

:host([rounded]) dialog {
  border-radius: var(--modal-border-radius);
}

dialog[open]::backdrop {
  background-color: var(--modal-backdrop-background-color);
}
