:host {
  --modal-border-radius: var(--root-border-radius);
  --modal-padding: var(--root-padding);
  --modal-background-color: var(--background-main);
  --modal-backdrop-background-color: var(--background-backdrop);
}

:host {
  display: none;
  border: none;
  outline: none;
}

:host([open]) {
  display: grid;
  justify-items: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: var(--zindex-backdrop);
}

:host([open]) .modal {
  overflow: hidden;
  padding: var(--modal-padding);
  background-color: var(--modal-background-color);
  position: fixed;
  z-index: var(--zindex-backdrop);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

:host([open]) .backdrop {
  position: fixed;
  inset: 0px;
  background-color: var(--background-backdrop);
  -webkit-tap-highlight-color: transparent;
  z-index: var(--zindex-backdrop);
}

:host([rounded]) .modal {
  border-radius: var(--modal-border-radius);
}
