:host {
  padding: var(--spacing-8) var(--spacing-16);
  box-sizing: border-box;
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid transparent;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

:host(:hover) {
  background-color: rgb(from var(--primary-light) r g b / 20%);
}

:host(:focus) {
  background-color: rgb(from var(--primary-light) r g b / 20%);
}

:host([selected='true']) {
  border-bottom-color: var(--primary-main);
}
