:host {
  box-sizing: border-box;
  user-select: none;
  display: block;
  background-color: var(--background-paper);
  padding: var(--spacing-16);
}

:host([rounded]) {
  border-radius: var(--spacing-8);
}
