:root {
  --background-main: #181a1c;
  --background-paper: #3c4143;

  --backdrop-light: rgba(111, 126, 140, 0.1);
  --background-backdrop: rgba(44, 50, 60, 0.5);

  --text-primary: #d3dadf;
  --text-placeholder: #a7b6be;

  --primary-light: #767fba;
  --primary-main: #5560a9;
  --primary-dark: #3b4376;

  --secondary-light: #e7c1fa;
  --secondary-main: #aa14f0;
  --secondary-dark: #7d17e3;

  --error-light: #fdeded;
  --error-main: #d32f2f;
  --error-dark: #5f2120;

  --warning-light: #fff4e5;
  --warning-main: #ed6c02;
  --warning-dark: #663c00;

  --info-light: #e5f6fd;
  --info-main: #0288d1;
  --info-dark: #014361;

  --success-light: #edf7ed;
  --success-main: #2e7d32;
  --success-dark: #1e4620;

  --neutral-light: #f5f5f5;
  --neutral-main: #797e81;
  --neutral-dark: #9c9c9c;

  --disabled: #a7b6be;
  --highlight: #3d9cff;

  --white: #ffffff;
  --black: #000000;
}
