:host {
  --drawer-background-color: var(--background-main);
  --drawer-border-radius: var(--root-border-radius);
}

:host {
  box-sizing: border-box;
  position: fixed;
  inset: 0;
  z-index: var(--zindex-drawer, 1300);
  visibility: hidden;
  pointer-events: none;
}

:host([open]) {
  visibility: visible;
  pointer-events: auto;
}

:host .backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--background-backdrop, rgba(0, 0, 0, 0.32));
  -webkit-tap-highlight-color: transparent;
  z-index: -1;
  opacity: 0;
  transition: opacity 220ms ease;
}

:host([open]) .backdrop {
  opacity: 1;
}

:host punica-box {
  position: fixed;
  z-index: calc(var(--zindex-drawer, 1300) + 1);
  display: flex;
  flex-direction: column;
  outline: 0;
  background-color: var(--drawer-background-color);
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1), opacity 220ms ease;
  will-change: transform, opacity;
  opacity: 0;
  visibility: hidden;
}

:host([direction='left']) punica-box {
  height: 100vh;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
}
:host([direction='right']) punica-box {
  height: 100vh;
  top: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);
}
:host([direction='top']) punica-box {
  width: 100vw;
  top: 0;
  left: 0;
  transform: translate3d(0, -100%, 0);
}
:host([direction='bottom']) punica-box {
  width: 100vw;
  bottom: 0;
  left: 0;
  transform: translate3d(0, 100%, 0);
}

:host([open]) punica-box {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

:host([direction='bottom'][rounded]) punica-box {
  border-radius: var(--drawer-border-radius) var(--drawer-border-radius) 0 0;
}
:host([direction='top'][rounded]) punica-box {
  border-radius: 0 0 var(--drawer-border-radius) var(--drawer-border-radius);
}
:host([direction='left'][rounded]) punica-box {
  border-radius: 0 var(--drawer-border-radius) var(--drawer-border-radius) 0;
}
:host([direction='right'][rounded]) punica-box {
  border-radius: var(--drawer-border-radius) 0 0 var(--drawer-border-radius);
}
