:host {
  --drawer-background-color: var(--background-main);
  --drawer-border-radius: var(--root-border-radius);
}

:host {
  position: fixed;
  inset: 0;
  z-index: var(--zindex-drawer);
  visibility: hidden;
  pointer-events: none;
}

:host([open='true']) {
  visibility: visible;
  pointer-events: auto;
}

:host .backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--background-backdrop);
  -webkit-tap-highlight-color: transparent;
  z-index: -1;
  opacity: 0;
  transition: opacity 220ms ease;
}

:host([open='true']) .backdrop {
  opacity: 1;
}

:host punica-box {
  position: fixed;
  z-index: var(--zindex-drawer);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  outline: 0;
  padding: 0;
  background-color: var(--drawer-background-color);
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1), opacity 220ms ease;
  will-change: transform, opacity;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
}

:host([direction='left']) punica-box {
  height: 100vh;
  top: 0;
  left: 0;
}
:host([direction='right']) punica-box {
  height: 100vh;
  top: 0;
  right: 0;
}
:host([direction='top']) punica-box {
  left: 0;
  right: 0;
  max-height: 100%;
  width: 100vw;
  top: 0;
}
:host([direction='bottom']) punica-box {
  max-height: 100%;
  bottom: 0;
  width: 100vw;
}

:host([direction='bottom'][rounded='true']) punica-box {
  border-radius: var(--drawer-border-radius) var(--drawer-border-radius) 0 0;
}
