:host {
  --paper-color: var(--background-paper);
}

:host {
  position: fixed;
  inset: 0px;
  z-index: var(--zindex-drawer);
  visibility: hidden;
}

:host([open='true']) .backdrop {
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  z-index: -1;
  backdrop-filter: blur(0.5px);
}

:host punica-paper {
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  background-color: var(--paper-color);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: var(--zindex-drawer);
  position: fixed;
  outline: 0px;
  padding: 0;
}

:host([direction='left']) punica-paper {
  height: 100vh;
  top: 0px;
  left: 0px;
}

:host([direction='right']) punica-paper {
  height: 100vh;
  top: 0px;
  right: 0px;
}

:host([direction='top']) punica-paper {
  left: 0px;
  right: 0px;
  max-height: 100%;
}

:host([direction='bottom']) punica-paper {
  max-height: 100%;
  bottom: 0;
}
