:host {
  box-sizing: border-box;
  user-select: none;
  display: block;
  transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
}

:host([rounded='true']) {
  border-radius: var(--spacing-8);
}

:host([border='true']) {
  border: 1px solid var(--neutral-main);
}

:host([error='true']) {
  border: 1px solid var(--error-main);
}
