:host([fullwidth]) {
  width: 100%;
  display: inline-flex;
}

::slotted(punica-button:first-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

::slotted(punica-button:last-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

::slotted(punica-button:not(:first-child):not(:last-child)) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

::slotted(punica-button:first-child[variant='outlined']),
::slotted(punica-button:not(:last-child)[variant='outlined']) {
  border-right-color: transparent;
}

::slotted(punica-button:last-child[variant='outlined']),
::slotted(punica-button:not(:first-child)[variant='outlined']) {
  margin-left: -1px;
}

::slotted(punica-button:first-child[variant='filled']),
::slotted(punica-button:not(:last-child)[variant='filled']) {
  border-right: 1px solid lightgrey;
}
