:host {
  box-sizing: border-box;
  display: flex;
}

:host([orientation='vertical']) {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

:host([fullwidth]) {
  width: 100%;
}

/* Horizontal */
:host([orientation='horizontal']) ::slotted(punica-toggle-button:first-child),
:host([orientation='horizontal'])
  ::slotted(punica-toggle-button:not(:last-child)) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:host([orientation='horizontal']) ::slotted(punica-toggle-button:last-child),
:host([orientation='horizontal'])
  ::slotted(punica-toggle-button:not(:first-child)) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* Outlined */
:host([orientation='horizontal']) ::slotted(punica-toggle-button:first-child),
:host([orientation='horizontal'])
  ::slotted(punica-toggle-button:not(:last-child)) {
  border-right-color: transparent;
}

/* Outlined */
:host([orientation='horizontal']) ::slotted(punica-toggle-button:last-child),
:host([orientation='horizontal'])
  ::slotted(punica-toggle-button:not(:first-child)) {
  margin-left: -1px;
}

/* Vertical */
:host([orientation='vertical']) ::slotted(punica-toggle-button:first-child),
:host([orientation='vertical'])
  ::slotted(punica-toggle-button:not(:last-child)) {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:host([orientation='vertical']) ::slotted(punica-toggle-button:last-child),
:host([orientation='vertical'])
  ::slotted(punica-toggle-button:not(:first-child)) {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
