dialog {
  border: none;
  outline: none;
  opacity: 0;
  max-width: 500px;
  min-width: 300px;
  border-radius: var(--spacing-8);
  padding: var(--spacing-24);
  overflow: hidden;
}

dialog[open] {
  animation: fade-in 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
  animation-timing-function: cubic-bezier(0.5, -0.5, 0.1, 1.5);
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-layout-main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'title'
    'content'
    'footer';
}

.dialog-layout-title {
  grid-area: title;
}

.dialog-layout-content {
  grid-area: content;
  padding: var(--spacing-32) 0;
}

.dialog-layout-footer {
  grid-area: footer;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-8);
  justify-content: flex-end;
}

/* Animation keyframes */
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
