:host {
  display: flex;
  align-items: stretch;
  width: fit-content;
}

:host([fullWidth='true']) {
  width: 100%;
}

:host([orientation='horizontal']) {
  flex-direction: row;
}

:host([orientation='vertical']) {
  flex-direction: column;
}
