:host {
  padding: var(--spacing-8) var(--spacing-16);
  display: block;
  cursor: pointer;
}

:host(:hover) {
  background-color: rgba(0, 0, 0, 0.04);
}

:host([selected]) {
  background-color: rgba(0, 0, 0, 0.04);
}
