:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: var(--spacing-16);
}

:host-context(punica-accordion[expanded='true']) {
  display: block;
}

:host-context(punica-accordion[expanded='false']) {
  display: none;
}
