:host {
  --accordion-border-radius: var(--spacing-16);
}

:host {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background-paper);
}

:host([rounded='true']) {
  border-radius: var(--accordion-border-radius);
}
