:host {
  --accordion-details-padding: var(--root-padding);
}

:host {
  width: 100%;
  overflow-x: hidden;
  padding: var(--accordion-details-padding);
}

:host-context(punica-accordion[expanded='true']) {
  display: block;
}

:host-context(punica-accordion[expanded='false']) {
  display: none;
}
