:host {
  --accordion-details-padding: var(--root-padding);
}

:host {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  padding: var(--accordion-details-padding);
}

:host-context(punica-accordion[expanded]) {
  display: block;
}

:host-context(punica-accordion) {
  display: none;
}
